.footer {
    padding: 30px 0;
    background: #F5F5FA;
}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 21px;
}

.footer-adress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 281px;
    align-items: center;
}

.adress {
    font-size: 16px;
    line-height: 20px;
    color: #323264;
}

.map {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
    text-decoration: none;

    &:hover {
        color: $acent_color;
    }
}

.footer-text, .footer-text-mini {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #B3B3BA;
}

.footer-mini {
    display: none;
}

.footer-contact {
    width: 398px;
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.footer-facebook {
    text-decoration: none;
}

.footer-facebook:hover path {
    fill: $acent_color;
}

.footer-tel {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #46466E;
    text-decoration: none;

    &:hover {
        color: $acent_color;
    }
}

.footer-email {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #24A3FF;
    text-decoration: none;

    &:hover {
        color: $acent_color;
    }
}


@media (max-width: 768px) {

    .footer-big {
        display: none;
    }

    .footer-mini {
    display: flex;
    flex-direction: column;
    width: 398px;
    margin: 0 auto;

        .footer-adress {
            padding-bottom: 21px;
        }

        .footer-text-mini {
            text-align: center;
            padding-top: 30px;
        }
    }
}


@media (max-width: 535px) {


    .footer {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .none {
        display: none;
    }

    .footer-adress, .footer-contact {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-self: center;
    }

    .adress, .footer-facebook, .footer-tel {
        margin-bottom: 10px;
    }
}


